/*
    This file is part of Davedub's Contact Form plugin for WordPress

    Author: David Wooldridge

    Davedub's Contact Form plugin is free software: you can
    redistribute it and / or modify it under the terms of the
    GNU General Public License as published by the
    Free Software Foundation, either version 3 of the License,
    or (at your option) any later version.

    Davedub's Contact Form plugin is distributed in the hope
    that it will be useful, but WITHOUT ANY WARRANTY; without
    even the implied warranty of MERCHANTABILITY or FITNESS FOR
    A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License
    along with the Contacts and Bookings plugin.
    If not, see <http://www.gnu.org/licenses/>.
*/

/* Options page stuff */

/* content div for options page */
.ddcf-options-div {
	margin:1.3em 0em;
	max-width:555px;
}

/* throbber for custom css ajax update */
#ddcf_custom_css_container {
    position:relative;
    width:100%;
}

#ddcf_options_feedback {
    display:none; /* controlled by jQuery at runtime */
    position:absolute;
    height: 2.4em;
    font-size:1.2em;
    width:100%;
    top:37%;
    float:none;
    margin:auto;
    text-align:center;
    background-image:url('images/ddcf-custom-css-throbber.gif'); 
    background-repeat:no-repeat;
    background-position:center center;    
}

#ddcf_options_feedback_text {
    display:none; /* controlled by jQuery at runtime */
    position:absolute;
    height: auto;
    font-size: 2.1em !important; /* ignored ?! */
    font-weight:bold;
    width:100%;
    top:22%;
    float:none;
    margin:auto;
    text-align:center;
}

.ui-accordion .ui-accordion-content {
    overflow:hidden !important; /* workaround cludge for what seems to be this issue: http://bugs.jqueryui.com/ticket/4208 */
    padding-bottom:auto;
}

.ui-tabs .ui-tabs-panel {
    background-color: #333 !important;
}

.ui-accordion-header{ /*}.ui-widget-content  .ui-state-default, .ui-widget-header .ui-state-default {*/
    border: 1px solid #333 !important;
    background: #333 !important;
    font-size:1.08em !important;
    font-weight: bold !important;
}

.ui-widget select {
    margin-left:0.5em
}

#ddcf_custom_css {
    height:100%;
    min-height:30em;
    width:100%;
    max-width:100%;
}

#ddcf_update_css_btn_container {
    width:100%;
    position:relative;
}

#ddcf_update_css_btn {
    float: none;
    margin: auto;
    display: block;
}

/* text inputs on options form */
.ddcf_text_input {  
    min-width:20em;
    margin:0.5em;
}
.ddcf_textarea_input {
	margin-top:1.0em;
	width:97%;
	min-height:4.0em;
	vertical-align:bottom;
}

/* drop down menus on options form */
.ddcf-category-filter-check {
    margin:0.7em 0em;
}