/* Davedub's contact form css */
/*
    This file is part of Davedub's Contact Form plugin for WordPress

    Davedub's Contact Form plugin is free software: you can
    redistribute it and / or modify it under the terms of the
    GNU General Public License as published by the
    Free Software Foundation, either version 3 of the License,
    or (at your option) any later version.

    Davedub's Contact Form plugin is distributed in the hope
    that it will be useful, but WITHOUT ANY WARRANTY; without
    even the implied warranty of MERCHANTABILITY or FITNESS FOR
    A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License
    along with the Contacts and Bookings plugin.
    If not, see <http://www.gnu.org/licenses/>.



   This is the base stylesheet for appearance modification
   -------------------------------------------------------

   jQueryUI elements (i.e. the datepicker and buttons) can be 
   modified by changing the jQueryUI theme - see the setting page
   
   Some of these settings may be dynamically changed on page load 
   for different sized browser windows or on handheld devices.
*/


/* content divs for contact page  */
#ddcf-contact-form-wrapper {
	margin-bottom:1.618em;
}
#ddcf-contact-form {
	margin:0px;
	padding:0px;
}

/* base  styling for all elements (except jQueryUI) */
.ddcf-input-base {
	border-radius:8px;
	margin:0.0em 0.0em 0.4em 1.0em;
}

/* styling for dropdowns */
.ddcf-dropdown {
	border-radius:4px;
	margin:0.0em 0.0em 0.6em 1.0em;
}

/* Buttons (Reset and Submit) */
.ddcf-button {
	padding:0px;
	margin-bottom:0.5em;
}


/* Text inputs on Contact From */
.ddcf-contact-text-input-half {
	margin:0px 0px 0.5em 0px; 
	padding:0.4em 0.4em 0.6em 0.75em;

}
.ddcf-contact-text-input {
	margin:0px 0px 0.5em 0px; 
	padding:0.4em 0.4em 0.6em 0.75em;
}

#ddcf_arrival_date {
	margin-left:1.0em;
	padding:0.4em 0.4em 0.6em 0.75em;
}
#ddcf_departure_date {
	margin-left:1.0em;
	padding:0.4em 0.4em 0.6em 0.75em;
}


/* dropdowns */
#ddcf_num_children_selector {
	margin-left:1.0em;
	padding:0.4em 0.0em 0.6em 0.0em;
}
#ddcf_num_adults_selector {
	margin-left:1.212em;
}


/* captchas - container */
#ddcf-contact-form-captcha {
	padding:0.0em;
	margin:0.0em;
}
/* simple add */
#simple-add-captcha {
	margin-bottom:0.4em;
	padding:0.4em 1.8em 0.6em 1.0em;
}
/* simple add answer box */
#ddcf_contact_captcha_add {
	margin-left:1.0em;
}
/* reCaptcha */
#recaptcha_area{
	padding-bottom:1.0em;
}



/* Checkbox Area */
#ddcf-checkbox-area {
	margin-left:0.5em;
	padding:0px;
	font-size:0.9em;
}


/* timepicker (datepicker addon) */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }