/*
    This file is part of Davedub's Contact Form plugin for WordPress

    Author: David Wooldridge

    Davedub's Contact Form plugin is free software: you can
    redistribute it and / or modify it under the terms of the
    GNU General Public License as published by the
    Free Software Foundation, either version 3 of the License,
    or (at your option) any later version.

    Davedub's Contact Form plugin is distributed in the hope
    that it will be useful, but WITHOUT ANY WARRANTY; without
    even the implied warranty of MERCHANTABILITY or FITNESS FOR
    A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License
    along with the Contacts and Bookings plugin.
    If not, see <http://www.gnu.org/licenses/>.
*/

/* Contacts tools */
#ddcf_tools_panel {
	width:100%;
	margin:auto;
	float:left;
	padding:1.0em 0.0em 1.0em;
}

/* tool alignments within panels */
.ddcf_tool_left {
	width:auto;
	position:relative;
	margin:auto;
	float:left;
	padding-right:0.5em;
}
.ddcf_tool_right {
	width:auto;
	position:relative;
	margin:auto;
	float:right;
	padding-left:0.5em;
}


/* houses next and prev links */
#ddcf_navigation_bar {
    position:relative;
	float:left;
	width:100%;
	margin:0.1em;
}
/* next / previous links */
#ddcf_previous_page {
	width:10em;
    float:left;
	padding:0.0em 0.0em 0.0em 1%;
	margin-bottom:0.7em;
	
}
#ddcf_next_page {
	width:10em;
    float:right;
	padding:0.0em 0.5em 0.0em 0.0em;
	text-align:right;
	margin-bottom:0.7em;
}
#ddcf_page_info {
	width:100%;
    float:none;
	padding:0.0em 0.0em 0.0em 0.0em;
	text-align:center;
	margin-bottom:0.7em;
}

/* data display area */
#ddcf_contact_information {
	float:left;
	width:100%;
	margin:0.1em 0.1em 1.2em;
}
.ddcf_img {
	box-shadow: 0px 0px 0px !important;
}

/* tab headers */
.ui-accordion .ui-accordion-header {
	color: #D1D1D1 !important;
}

#ddcf_image_container {
	width:100%;
    height:3em;
	margin:auto;
	text-align:center;
	position:relative;
    background-image:url('images/dd-contact-form-ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center center;
}
