/*
    This file is part of Davedub's Contact Form plugin for WordPress

    Davedub's Contact Form plugin is free software: you can
    redistribute it and / or modify it under the terms of the
    GNU General Public License as published by the
    Free Software Foundation, either version 3 of the License,
    or (at your option) any later version.

    Davedub's Contact Form plugin is distributed in the hope
    that it will be useful, but WITHOUT ANY WARRANTY; without
    even the implied warranty of MERCHANTABILITY or FITNESS FOR
    A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.

    You should have received a copy of the GNU General Public License
    along with the Contacts and Bookings plugin.
    If not, see <http://www.gnu.org/licenses/>.
*/

/* Contacts tools */
.ddcf_tools_panel {
	width:50%;
	margin:auto;
	float:left;
	padding:1.0em 0.0em 1.0em;
}

/* add, edit etc buttons panel */
.ddcf_buttons_panel { 
	width:50%;
	margin:auto;
	float:left;
	padding:1.0em 0.0em 1.0em;
	text-shadow:1px 1px 1px #FFFFFF;
}

/* Buttons */
.ddcf_button {
	text-shadow:1px 1px 1px #FFFFFF;
	font-size:0.96em;
	font-weight:normal;
	box-shadow:2px 2px 3px #aaaaaa;
	border: 1px solid #888888 !important;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-image:none;
	height: 30px;
	line-height:26px;
	padding-left:0.2em;
	padding-right:0.2em;
	padding-bottom:2.2em;
	text-shadow:0 0 0 #FBFBFB;
	box-shadow:2px 2px 3px #2B2B2B;
	outline-color:-moz-use-text-color;
	outline-style: none;
	outline-width:medium;
	vertical-align:middle;
}

/* decoration */
.ddcf_pimped {
	margin:0px;
	padding: 0.5em;
	
	font:inherit;
	font-size:inherit;
	color:inherit;

	border: 1px hidden #cccccc !important; 
	border-radius: 4px  !important; 
	-webkit-border-radius: 4px !important; 
	-moz-border-radius: 4px !important;
	
	box-shadow:1px 1px 1px #aaaaaa inset;
	
	background: #eaeaea; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eaeaea 0%, #fbfbfb 35%, #f8f8f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(35%,#fbfbfb), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#fbfbfb 35%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#fbfbfb 35%,#f8f8f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#fbfbfb 35%,#f8f8f8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#fbfbfb 35%,#f8f8f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */
}


/* form fields on dialogs */
.ddcf_dialog_item {
	width:100%;
	margin:1.0em 0em 1.2em;
}
.ddcf_dialog_item input, select {
	max-width:250px;
	padding-left:0.75em;
	padding-right:0em;
}
.ddcf_dialog_item label {
	font-size:0.86em;
	text-align:center;
	width:100%;
	margin-bottom:0.75em;
}
/* tool alignments within panels */
.ddcf-tool-l {
	width:auto;
	position:relative;
	margin:auto;
	float:left;
	padding-right:0.5em;
}
.ddcf-tool-r {
	width:auto;
	position:relative;
	margin:auto;
	float:right;
	padding-left:0.5em;
}


/* houses next and prev links */
.ddcf_navigation_bar {
	float:left;
	width:100%;
	margin:0.1em;
}
/* next / previous links */
#ddcf_previous_page {
	width:33%;
	padding:0.0em 0.0em 0.0em 1%;
	margin-bottom:0.7em;
	
}
#ddcf_next_page {
	width:32%;
	padding:0.0em 0.5em 0.0em 0.0em;
	text-align:right;
	margin-bottom:0.7em;
}
#ddcf_page_info {
	width:33%;
	padding:0.0em 0.0em 0.0em 0.0em;
	text-align:center;
	margin-bottom:0.7em;
}


/* data display area */
#ddcf_contact_information {
	float:left;
	width:100%;
	margin:0.1em 0.1em 1.2em;
}
.ddcf_img {
	box-shadow: 0px 0px 0px !important;
}

.ddcf_image_container {
	width:100%;
        height:3em;
	margin:auto;
	text-align:center;
	position:relative;
        background-image:url('images/dd-contact-form-ajax-loader.gif');
        background-repeat:no-repeat;
        background-position:center center;
}
